[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
validator = "*"
pyyaml = "*"
pipfile = "*"
xlsx2csv = "*"
isbnlib = "*"
matplotlib = "*"
tqdm = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9"
